* {
    box-sizing: border-box;
}

.photoBox {
    // border: 2px yellow solid;
    background-color: black;
    margin: 100px auto 0px auto;
    // width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  
    .photo {
        height: 250px;
        width: 250px;
    }
}

