.Card {
    border: solid 2px white;
    background-color: white;
    border-radius: 25px;
    // color: black;
    height: 400px;
    width: 300px;
    margin: 40px auto;
    // display: flex;
    // flex-direction: column;
}

h2 {
    text-align: center;
    color: black;
    background-color: white;
    font-size: 28px;
}
.weatherData {
    border: solid 2px white;
    background-color: white;
    margin: auto;
    width: 250px;
    text-align: center;

    p {
        color: black;
        background-color: white;
    }
    
}

.photo {
    border: solid 2px white;
    height: 250px;
    width: 250px;
    margin: auto;
}