.Card {
    border: solid 2px rgb(240, 236, 236);
    background-color: rgb(240, 236, 236);
    // border-radius: 25px;
    // color: black;
    height: 250px;
    width: 250px;
    margin: auto;
    // display: flex;
    // flex-direction: column;
}

h2 {
    text-align: center;
    color: black;
    background-color: rgb(240, 236, 236);
    font-size: 28px;
}
.weatherData {
    // border: solid 2px white;
    background-color: rgb(240, 236, 236);
    margin: auto;
    width: 100%;
    text-align: center;

    p {
        color: black;
        background-color: rgb(240, 236, 236);
        
    }
    
}

.photo {
    border: solid 2px white;
    height: 250px;
    width: 250px;
    margin: auto;
}